<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
        <link rel="stylesheet" href="../../css/index.css">
    </head>
        
    <body class="cool">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <span class="navbar-brand mb-0 h1">Blog</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1 class="mb-4 text-center">Welcome to my Blog!</h1>
            <a href="/articles/new" class="btn btn-success">New Article</a>

            <% articles.forEach(article => { %>
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title"><%= article.title %></h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= article.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2"><%= article.description %></div>
                        <!-- button to go to article page -->
                        <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                        <a href="articles/edit/<%= article.id %>?" class="btn btn-info">Edit</a>
                        <form action="/articles/<%= article.id %>?_method=DELETE"
                        method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </body>
</html>